<!DOCTYPE html>
<!-- 
  Section 003
  Group 15
  Brendan Bundy, Jakob Blosil, McKenna Alder, Tanner Atkin

  This page allows an admin to view the dashboard, view individual survey responses, and create users.
 -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Home</title>
  <!-- Favicon -->
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <!-- CSS -->
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/dashboard.css">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <!-- Admin Authentication -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Check if localStorage username is "Admin"
      const storedUsername = localStorage.getItem('username');

      if (storedUsername !== 'admin@provocity.org' || storedUsername === null) {
        // Redirect to a different page if the username is not "Admin"
        window.location.href = '/unauthorized';
      } else {
        // Show the content if the user is authorized
        document.getElementById('body-content').style.display = 'flex';
      }
    });
  </script>
</head>

<body>
  <div id="body-content">
    <!-- Navbar -->
    <nav>
      <p><small>Signed in as:</small>Admin</p>
      <div id="links">
        <a href="/createUser">Create User</a>
        <a href="/editUser">Edit Account Info</a>
        <a href="/logout">Log Out</a>
      </div>
    </nav>

    <header>
      <h2>Welcome!</h2>
      <p>Explore individual survey responses or view the dashboard below.</p>
      <a href="/viewData">View Survey Responses</a>
    </header>

    <!-- Dashboard -->
    <div id="dashboard-container">
      <div class="tableauPlaceholder" id="viz1701890870125" style="position: relative"><noscript><a href="#"><img alt="Social Media Impact on Mental Health " src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;IN&#47;INTEXpt2_17018842814400&#47;SocialMediaImpactonMentalHealth&#47;1_rss.png" style="border: none" /></a></noscript><object class="tableauViz" style="display:none;">
          <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
          <param name="embed_code_version" value="3" />
          <param name="site_root" value="" />
          <param name="name" value="INTEXpt2_17018842814400&#47;SocialMediaImpactonMentalHealth" />
          <param name="tabs" value="no" />
          <param name="toolbar" value="yes" />
          <param name="static_image" value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;IN&#47;INTEXpt2_17018842814400&#47;SocialMediaImpactonMentalHealth&#47;1.png" />
          <param name="animate_transition" value="yes" />
          <param name="display_static_image" value="yes" />
          <param name="display_spinner" value="yes" />
          <param name="display_overlay" value="yes" />
          <param name="display_count" value="yes" />
          <param name="language" value="en-US" />
          <param name="filter" value="publish=yes" />
        </object></div>
    </div>
    <p id="dashboard-error-message">Please use a larger screen to view the dashboard.</p>

    <!-- Tableau JS -->
    <script type="text/javascript">
      var divElement = document.getElementById("viz1701890870125");
      var vizElement = divElement.getElementsByTagName("object")[0];
      // deleted old JavaScript to make dashboard fixed size
      vizElement.style.width = "1000px";
      vizElement.style.height = "827px";
      var scriptElement = document.createElement("script");
      scriptElement.src = "https://public.tableau.com/javascripts/api/viz_v1.js";
      vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>

    <!-- Reload on Resize -->
    <script>
      let prevMatch = window.matchMedia("(max-width: 1080px)").matches;
      function checkMediaQuery() {
        const currentMatch = window.matchMedia("(max-width: 1080px)").matches;
        if (currentMatch !== prevMatch) {
          location.reload();
        }
        prevMatch = currentMatch;
      }
      window.addEventListener('resize', checkMediaQuery);
    </script>

    <!-- Footer -->
    <footer>
      <p>© 2023, Incorperated Inc.</p>
      <p>Updated December 2023</p>
    </footer>
  </div>
</body>

</html>