<!DOCTYPE html>
<!-- 
  Section 003
  Group 15
  Brendan Bundy, Jakob Blosil, McKenna Alder, Tanner Atkin

  This page is where you create recipes and include the required data for them.
 -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Survey</title>
  <!-- Favicon -->
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <!-- CSS -->
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/forms.css">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>

  <!-- Create Recipe -->
  <form action="/storeRecipe" method="post" enctype="multipart/form-data">
    <h2>Create Recipe</h2>

    <!-- Recipe Title -->
    <p>Recipe Title</p>
    <input id="recipe_title" type="text" name="recipe_title" required />

    <!-- Servings -->
    <p>Servings</p>
    <div class="radioSelector">
      <input id="1-serving" value="1" name="servings" type="radio" required />
      <label for="1-serving" style="border-radius: 2px 0 0 2px;">1</label>
      <input id="2-4-serving" value="2-4" name="servings" type="radio" required />
      <label for="2-4-serving">2-4</label>
      <input id="4-6-serving" value="4-6" name="servings" type="radio" required />
      <label for="4-6-serving">4-6</label>
      <input id="6-8-serving" value="6-8" name="servings" type="radio" required />
      <label for="6-8-serving">6-8</label>
      <input id="10-serving" value="10+" name="servings" type="radio" required />
      <label for="10-serving" style="border-radius: 0 2px 2px 0;">10+</label>
    </div>

    <!-- Ingredients -->
    <p>Ingredients</p>
    <div class="question-divider"></div>
    <div id="ingredients-container">

      <!-- Ingredient Item -->
      <div id="ingredient-0">
        <div class="ingredient-title-container">
          <div>

            <!-- Ingredient Name -->
            <p>Ingredient Name</p>
            <input type="text" name="ingredient_name_0" required>
          </div>
          <div>

            <!-- Quantity -->
            <p>Quantity</p>
            <input type="number" step="any" name="quantity_0" required>
          </div>
        </div>

        <!-- Measurement -->
        <p>Measurement</p>
        <div class="radioSelector">
          <input id="pinch-0" value="pinch" name="measurement_0" type="radio" required />
          <label for="pinch-0" style="border-radius: 2px 0 0 2px;">pinch</label>
          <input id="tsp-0" value="tsp" name="measurement_0" type="radio" required />
          <label for="tsp-0">tsp</label>
          <input id="tbsp-0" value="tbsp" name="measurement_0" type="radio" required />
          <label for="tbsp-0">tbsp</label>
          <input id="cup-0" value="cup" name="measurement_0" type="radio" required />
          <label for="cup-0">cup</label>
          <input id="oz-0" value="oz" name="measurement_0" type="radio" required />
          <label for="oz-0">oz</label>
          <input id="lb-0" value="lb" name="measurement_0" type="radio" required />
          <label for="lb-0">lb</label>
          <input id="half-0" value="half" name="measurement_0" type="radio" required />
          <label for="half-0">half</label>
          <input id="whole-0" value="whole" name="measurement_0" type="radio" required />
          <label for="whole-0" style="border-radius: 0 2px 2px 0;">whole</label>
        </div>
        <div class="question-divider"></div>
      </div>
    </div>

    <!-- Add Ingredient -->
    <button id="add-ingredient-button" type="button" onclick="addIngredient()">Add Ingredient</button>

    <!-- Recipe Instructions -->
    <p>Recipe Instructions</p>
    <textarea id="recipe_instructions" name="recipe_instructions" rows="5" required></textarea>

    <!-- Recipe Image -->
    <p>Recipe Image</p>
    <input type="file" name="recipe_image" accept="image/*" required />

    <input name="username" id="usernameInput" value="" type="hidden" />

    <!-- Create Recipe -->
    <button type="submit">Create Recipe</button>
  </form>

  <!-- JS -->
  <script>

    // initialize counter
    let uniqueCounter = 0;

    // dynamically add ingredients
    function addIngredient() {

      // define variables
      const container = document.getElementById('ingredients-container');
      const ingredientDiv = document.createElement('div');

      uniqueCounter = uniqueCounter + 1;

      // add html with button
      ingredientDiv.id = `ingredient_${uniqueCounter}`;
      ingredientDiv.innerHTML = `
      <div class="ingredient-title-container">
        <div>
          <p>Ingredient Name</p>
          <input type="text" name="ingredient_name_${uniqueCounter}" required>
        </div>
        <div>
          <p>Quantity</p>
          <input type="number" step="any" name="quantity_${uniqueCounter}" required>
        </div>
        <button type="button" onclick="removeIngredient('ingredient_${uniqueCounter}')">Remove<br>Ingredient</button>

      </div>
        <p>Measurement</p>
        <div class="radioSelector">
          <input id="pinch-${uniqueCounter}" value="pinch" name="measurement_${uniqueCounter}" type="radio" required />
          <label for="pinch-${uniqueCounter}" style="border-radius: 2px 0 0 2px;">pinch</label>
          <input id="tsp-${uniqueCounter}" value="tsp" name="measurement_${uniqueCounter}" type="radio" required />
          <label for="tsp-${uniqueCounter}">tsp</label>
          <input id="tbsp-${uniqueCounter}" value="tbsp" name="measurement_${uniqueCounter}" type="radio" required />
          <label for="tbsp-${uniqueCounter}">tbsp</label>
          <input id="cup-${uniqueCounter}" value="cup" name="measurement_${uniqueCounter}" type="radio" required />
          <label for="cup-${uniqueCounter}">cup</label>
          <input id="oz-${uniqueCounter}" value="oz" name="measurement_${uniqueCounter}" type="radio" required />
          <label for="oz-${uniqueCounter}">oz</label>
          <input id="lb-${uniqueCounter}" value="lb" name="measurement_${uniqueCounter}" type="radio" required />
          <label for="lb-${uniqueCounter}">lb</label>
          <input id="half-${uniqueCounter}" value="half" name="measurement_${uniqueCounter}" type="radio" required />
          <label for="half-${uniqueCounter}">half</label>
          <input id="whole-${uniqueCounter}" value="whole" name="measurement_${uniqueCounter}" type="radio" required />
          <label for="whole-${uniqueCounter}" style="border-radius: 0 2px 2px 0;">whole</label>
        </div>
        <div class="question-divider"></div>
      `;
      container.appendChild(ingredientDiv);
    }

    // remove ingredient
    function removeIngredient(uniqueId) {
      const container = document.getElementById('ingredients-container');
      const elementToRemove = document.getElementById(uniqueId);
      container.removeChild(elementToRemove);
    }

    // Retrieve the username from localStorage
    const storedUsername = localStorage.getItem('username');

    // Set the value of the input field
    document.getElementById('usernameInput').value = storedUsername;

  </script>
</body>

</html>