<!DOCTYPE html>
<!-- 
  Section 003
  Group 15
  Brendan Bundy, Jakob Blosil, McKenna Alder, Tanner Atkin

  This page allows a user to edit their own password with confirmation of new password.
 -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Account</title>
  <!-- Favicon -->
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <!-- CSS -->
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/forms.css">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const storedUsername = localStorage.getItem('username');

      if (storedUsername === null) {
        window.location.href = '/unauthorized';
      }
      else {
        // Show the content if the user is authorized
        document.getElementById('body-content').style.display = 'flex';
      }
    });
  </script>
</head>

<body>
  <div id="body-content">
    <!-- Start of Form -->
    <form id="editUserForm" action="/updateP" method="post" onsubmit="return validateForm()">
      <h2>Edit Account</h2>

      <!-- Edit User Input - Username -->
      <label for="username">Username</label>
      <input id="username" name="username" type="text" required>

      <!-- Edit User Input - Current Password -->
      <label for="currentPassword">Current Password</label>
      <input id="currentPassword" name="currentPassword" type="password" required>

      <!-- Edit User Input - New Password -->
      <label for="newPassword">New Password</label>
      <input id="newPassword" name="newPassword" type="password" required>

      <!-- Edit User Input - Confirm New Password -->
      <label for="confirmNewPassword">Confirm New Password</label>
      <input id="confirmNewPassword" name="confirmNewPassword" type="password" required>

      <!-- Error Message -->
      <p id="error-message"></p>

      <!-- Edit User Submit -->
      <button type="submit">Update Password</button>
    </form>

    <!-- JavaScript -->
    <script>

      // Check if local storage passwords match
      function validateForm() {
        // Get values from password fields
        var newPassword = document.getElementById('newPassword').value;
        var confirmNewPassword = document.getElementById('confirmNewPassword').value;
        var enteredUsername = document.getElementById('username').value;
        var storedUsername = localStorage.getItem('username');

        if (storedUsername !== enteredUsername) {
          // Display error message
          document.getElementById('error-message').innerText = 'Enter Your Username.';
          document.getElementById('error-message').style.display = 'block';
          return false; // Prevent form submission
        }

        // Check if passwords match
        if (newPassword !== confirmNewPassword) {
          // Display error message
          document.getElementById('error-message').innerText = 'Passwords do not match.';
          document.getElementById('error-message').style.display = 'block';
          return false; // Prevent form submission
        }

        // Hide error message if passwords match
        document.getElementById('error-message').style.display = 'none';
        return true; // Allow form submission
      }
    </script>
  </div>
</body>

</html>