<!DOCTYPE html>
<!-- 
  Section 003
  Group 15
  Brendan Bundy, Jakob Blosil, McKenna Alder, Tanner Atkin

  This is the landing page for our Recipe Website! You can add recipes and generate a shopping list.
 -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Website</title>
  <!-- Favicon -->
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <!-- CSS -->
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/main_landing.css">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <!-- Back to Top JS -->
  <script>
    // scroll to top function
    function scrollToTop() {
      window.scrollTo(0, 0);
    }
    // scroll to top before page refresh
    window.addEventListener('beforeunload', scrollToTop);
  </script>
</head>

<body>

  <!-- Header Container -->
  <div id="header-container">

    <!-- Circle Animation -->
    <svg id="circle" viewBox="0 0 55 55" xmlns="http://www.w3.org/2000/svg">
      <path class="svg-inner" d="M52.5 27.5C52.5 41.3071 41.3071 52.5 27.5 52.5C13.6929 52.5 2.5 41.3071 2.5 27.5C2.5 13.6929 13.6929 2.5 27.5 2.5C41.3071 2.5 52.5 13.6929 52.5 27.5Z" />
      <path class="svg-outer" d="M45.4468 7.3548C45.6411 7.14574 45.6261 6.81758 45.4096 6.63166C42.8258 4.41277 39.7835 2.64008 36.3623 1.47505C32.4591 0.145882 28.464 -0.25567 24.6167 0.152447C24.3333 0.182503 24.1347 0.443399 24.1752 0.725433C24.2147 1.00025 24.4668 1.19234 24.7429 1.16326C28.4418 0.773671 32.282 1.16123 36.0341 2.43893C39.3221 3.55861 42.2467 5.26115 44.7316 7.39199C44.9421 7.57245 45.2582 7.55789 45.4468 7.3548Z" />
      <path class="svg-outer" d="M46.7245 8.56204C46.9213 8.36058 47.2457 8.35988 47.4395 8.56428C47.6333 8.76869 47.6149 9.09221 47.4032 9.27803L47.3794 9.29896C47.1815 9.47265 46.8816 9.45603 46.7004 9.26497C46.5193 9.07388 46.5183 8.77307 46.7023 8.58473L46.7245 8.56204Z" />
      <path class="svg-outer" d="M53.577 20.5964C53.3079 20.6618 53.0363 20.4999 52.96 20.2336C51.9711 16.7802 50.288 13.5517 48.0154 10.761C47.84 10.5456 47.8631 10.2293 48.0718 10.0461C48.2858 9.85819 48.6127 9.88203 48.7927 10.1027C51.1626 13.0089 52.9164 16.3731 53.9444 19.972C54.0228 20.2466 53.8545 20.529 53.577 20.5964Z" />
      <path class="svg-outer" d="M54.4181 29.3262C54.1418 29.3017 53.9364 29.0608 53.95 28.7838C54.0478 26.7886 53.9167 24.8099 53.5733 22.8817C53.5246 22.608 53.6988 22.3425 53.9706 22.284C54.2488 22.2242 54.5225 22.4038 54.5725 22.6838C54.9329 24.6991 55.0701 26.7677 54.9663 28.8534C54.9521 29.1383 54.7022 29.3513 54.4181 29.3262Z" />
      <path class="svg-outer" d="M54.251 30.3336C54.0183 30.313 53.8124 30.4821 53.7839 30.7139C53.7553 30.9455 53.9135 31.1604 54.1439 31.1972L54.2842 31.2196C54.5317 31.2592 54.764 31.0874 54.7946 30.8386C54.8253 30.5901 54.642 30.3682 54.3926 30.3461L54.251 30.3336Z" />
      <path class="svg-outer" d="M53.1938 35.7117C52.931 35.6222 52.7888 35.339 52.8684 35.0731C52.998 34.6399 53.116 34.2059 53.2225 33.7712C53.2885 33.5016 53.5546 33.3294 53.8265 33.3853C54.1056 33.4426 54.2838 33.7179 54.2162 33.9946C54.1029 34.4583 53.977 34.9214 53.8384 35.3835C53.7565 35.6564 53.4634 35.8035 53.1938 35.7117Z" />
      <path class="svg-outer" d="M16.5921 2.82996C16.4719 2.57158 16.5886 2.26365 16.8513 2.15318C17.1141 2.04268 17.416 2.17467 17.5165 2.44138L17.5224 2.45718C17.617 2.70799 17.4931 2.98791 17.2461 3.09181C16.9989 3.19573 16.7123 3.08833 16.5992 2.84527L16.5921 2.82996Z" />
      <path class="svg-outer" d="M6.19544 10.9444C5.96697 10.7738 5.92264 10.4486 6.10174 10.2268C8.54649 7.19876 11.5875 4.75756 14.9859 3.02065C15.2396 2.89099 15.5486 3.0009 15.6688 3.25923C15.7858 3.51085 15.6797 3.80941 15.4327 3.93588C12.1723 5.60509 9.2543 7.94773 6.90616 10.8518C6.7317 11.0676 6.41777 11.1104 6.19544 10.9444Z" />
      <path class="svg-outer" d="M1.40845 20.6504C1.13446 20.573 0.849782 20.7352 0.782278 21.0118C0.558311 21.9294 0.383607 22.8495 0.256667 23.7688C0.217644 24.0515 0.42369 24.3072 0.707613 24.3353C0.983525 24.3625 1.23002 24.164 1.26813 23.8893C1.38927 23.0164 1.55514 22.1428 1.76712 21.2714C1.83278 21.0015 1.67575 20.7259 1.40845 20.6504Z" />
      <path class="svg-outer" d="M2.08989 36.5541C2.34949 36.456 2.48221 36.1682 2.39391 35.9051C1.47067 33.1541 0.994067 30.2405 1.01949 27.277C1.02187 26.9993 0.806368 26.7667 0.528992 26.7539C0.244387 26.7407 0.00383455 26.9636 0.0011821 27.2485C-0.0275984 30.3398 0.469692 33.379 1.43474 36.2476C1.52559 36.5176 1.82338 36.6549 2.08989 36.5541Z" />
      <path class="svg-outer" d="M3.5721 39.9511C3.32179 40.0875 3.00781 39.9921 2.88093 39.7368C2.74871 39.4708 2.62076 39.2026 2.49717 38.9324C2.37862 38.6733 2.5019 38.3694 2.76527 38.2606C3.02172 38.1546 3.31533 38.2736 3.43093 38.5259C3.54496 38.7747 3.6628 39.0217 3.78443 39.2669C3.90771 39.5153 3.81564 39.8183 3.5721 39.9511Z" />
      <path class="svg-outer" d="M4.0583 40.8457C3.80821 40.982 3.71811 41.2972 3.86347 41.5422C4.54816 42.6959 5.31756 43.801 6.1666 44.8472C6.34635 45.0687 6.67382 45.0929 6.88821 44.9048C7.09661 44.7219 7.12003 44.4062 6.94545 44.1908C6.13638 43.1925 5.40254 42.1385 4.74871 41.0386C4.60686 40.8 4.30205 40.7129 4.0583 40.8457Z" />
      <path class="svg-outer" d="M46.7478 46.4056C46.5462 46.215 46.2296 46.2211 46.0313 46.4151C45.6837 46.7551 45.3274 47.0849 44.9627 47.4042C44.7538 47.5871 44.7236 47.9028 44.8987 48.1184C45.0782 48.3395 45.4045 48.3707 45.6189 48.1832C46.0077 47.8433 46.3874 47.4919 46.7576 47.1294C46.9613 46.9298 46.955 46.6016 46.7478 46.4056Z" />
      <path class="svg-outer" d="M52.8655 36.6756C53.1352 36.7674 53.2775 37.0628 53.1759 37.329C52.4318 39.2765 51.4874 41.0933 50.3743 42.7636C50.2162 43.0009 49.8926 43.0558 49.6615 42.8888C49.4366 42.7263 49.3836 42.414 49.5373 42.183C50.6013 40.5839 51.5049 38.8456 52.218 36.9829C52.3173 36.7237 52.6028 36.5861 52.8655 36.6756Z" />
      <path class="svg-outer" d="M16.4261 52.0984C16.3141 52.3602 16.009 52.4799 15.7514 52.3585C14.5525 51.7937 13.4103 51.1499 12.3289 50.4357C12.091 50.2786 12.0348 49.9552 12.2008 49.7235C12.3624 49.4979 12.6745 49.4436 12.9061 49.5963C13.9374 50.2765 15.0262 50.8901 16.1684 51.4293C16.4195 51.5478 16.5352 51.843 16.4261 52.0984Z" />
      <path class="svg-outer" d="M17.363 52.497C17.251 52.7591 17.3758 53.0627 17.642 53.1647C17.9702 53.2906 18.3021 53.4107 18.6377 53.5249C19.0144 53.6532 19.392 53.7729 19.7703 53.884C20.0439 53.9644 20.3273 53.7987 20.3972 53.5222C20.4651 53.2534 20.3054 52.9801 20.0394 52.9018C19.6809 52.7962 19.323 52.6827 18.9659 52.5611C18.6485 52.453 18.3345 52.3395 18.0239 52.2206C17.7649 52.1215 17.4721 52.242 17.363 52.497Z" />
      <path class="svg-outer" d="M24.5559 54.319C24.5195 54.6015 24.7218 54.8594 25.0055 54.8855C29.0791 55.2599 33.1123 54.7073 36.8388 53.3589C37.1067 53.2619 37.2372 52.9612 37.1305 52.697C37.0265 52.4397 36.7358 52.3135 36.4747 52.4077C32.8973 53.6993 29.027 54.2294 25.1176 53.873C24.841 53.8478 24.5913 54.0435 24.5559 54.319Z" />
    </svg>

    <!-- Header -->
    <header>
      <h1>Recipe Website</h1>
      <p>Upload your recipes and make grocery shopping easier.</p>
      <div>
        <a href="/login">Log In</a>
        <a href="/createUser">Create Account</a>
      </div>
    </header>
  </div>

  <!-- Main -->
  <main>

    <!-- About Section -->
    <div class="landing-section">
      <h2>Personalize Your Experience</h2>
      <p>Create your profile and keep track of your favorite recipes. Our website allows you to edit and update your recipes anytime, ensuring your culinary masterpieces are always current.</p>
    </div>
  </main>

  <!-- Footer -->
  <footer>
    <p>© 2023, Incorperated Inc.</p>
    <a onclick="scrollToTop()">Back to Top</a>
    <p>Updated December 2023</p>
  </footer>
</body>

</html>