<!DOCTYPE html>
<!-- 
  Section 003
  Group 15
  Brendan Bundy, Jakob Blosil, McKenna Alder, Tanner Atkin

  This page allows a user to view the dashboard, and individual survey responses.
 -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Home</title>
  <!-- Favicon -->
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <!-- CSS -->
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/dashboard.css">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
  <div id="body-content">
    <!-- Navbar -->
    <nav>
      <p><small>Signed in as:</small>User</p>
      <div id="links">
        <a href="/editUser">Edit Account Info</a>
        <a href="/logout">Log Out</a>
      </div>
    </nav>

    <header>
      <h2>Welcome!</h2>
      <p>Explore individual survey responses or view the dashboard below.</p>
      <a href="/createRecipe">Create Recipe</a>
    </header>
    
    <h1>Select Recipes</h1>
    <form action="/aggregate_ingredients" method="post">
        <% recipes.forEach(recipe => { %>
            <div>
                <input type="checkbox" name="selectedRecipes[]" id="<%= recipe.title %>" value="<%= recipe.title %>">
                <label for="<%= recipe.title %>"><%= recipe.title %></label>
            </div>
        <% }); %>
        <button type="submit">Generate Grocery List</button>
    </form>

    <!-- Reload on Resize -->
    <script>
      let prevMatch = window.matchMedia("(max-width: 1080px)").matches;
      function checkMediaQuery() {
        const currentMatch = window.matchMedia("(max-width: 1080px)").matches;
        if (currentMatch !== prevMatch) {
          location.reload();
        }
        prevMatch = currentMatch;
      }
      window.addEventListener('resize', checkMediaQuery);
    </script>

    <!-- Footer -->
    <footer>
      <p>© 2023, Incorperated Inc.</p>
      <p>Updated December 2023</p>
    </footer>
  </div>
</body>

</html>