# .ebextensions/puppeteer.config
packages:
  yum:
    xorg-x11-server-Xvfb: []
    gtk2-devel: []
    gtk3-devel: []
    libnotify-devel: []
    GConf2: []
    nss: []
    libXScrnSaver: []
    alsa-lib: []
    atk: []
    at-spi2-atk: []
    cups-libs: []
    libXcomposite: []
    libXcursor: []
    libXdamage: []
    libXext: []
    libXi: []
    libXtst: []
    pango: []
    ipa-gothic-fonts: []
    xorg-x11-fonts-100dpi: []
    xorg-x11-fonts-75dpi: []
    xorg-x11-utils: []
    xorg-x11-fonts-cyrillic: []
    xorg-x11-fonts-Type1: []
    xorg-x11-fonts-misc: []
    GConf2-devel: []
    dbus-devel: []
    dbus-glib-devel: []
    dbus-glib: []
    libXScrnSaver-devel: []
    libXScrnSaver: []

commands:
  01_install_chromium:
    command: "amazon-linux-extras install -y chromium"
