body {
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  margin: 0;
}

h2 {
  margin: 0 0 10px 0;
  text-align: center;
  color: var(--secondary-dark);
}
p {
  margin: 0 0 20px 0;
  text-align: center;
}

a,
button {
  background-color: var(--primary-color);
  color: white;
  border: 2px transparent solid;
  font-weight: 500;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  transition: 0.35s ease-in-out;
  border-radius: 5px;
}

a:hover,
button:hover {
  color: var(--primary-color);
  background-color: white;
  border: 2px solid var(--primary-color);
}
